
BASE_URL=""
API_KEY=""
MODEL_ID=""
DOCKER_SANDBOX_COMMAND_TIMEOUT=300
DOCKER_SANDBOX_COMMAND_TIMEOUT_GRACE=10
LANGFUSE_SECRET_KEY=""
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_BASE_URL="http://localhost:3000"
LANGFUSE_TRACING_ENVIRONMENT="development"
LANGFUSE_TRACING_ENABLED=false
LANGFUSE_TRACE_INCLUDE_PROMPTS=false
LANGFUSE_TRACE_INCLUDE_TOOL_OUTPUT=false